uri.py
__pycache__
.hypothesis/
.coverage

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ignore student_data/ and output/ except the .gitkeeps
student_data/*
!student_data/.gitkeep
output/*
!output/histogram_public.png
results_skill.txt
data/