numpy==1.24.3
pymongo==3.13.0
pymongo[srv]==3.13.0
pandas==2.2.2
matplotlib==3.9.2
openpyxl==3.1.5
certifi==2024.12.14
black==24.8.0
pillow==11.0.0
mypy==1.14.0
pandas-stubs==2.2.3.241126
pytest==8.3.5
pytest-stub==1.1.0
hypothesis==6.131.0
pytest-randomly==3.16.0